### Solutions to lab 20

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///publications.db

### CHALLENGE 1

In [3]:
%%sql
SELECT authors.au_id as author_id, authors.au_fname as FIRST_NAME, authors.au_lname as LAST_NAME, titles.title as TITLE,  publishers.pub_name as PUBLISHER_NAME 
FROM  authors
join titleauthor 
on authors.au_id = titleauthor.au_id
join titles 
on titleauthor.title_id = titles.title_id
join publishers
on titles.pub_id = publishers.pub_id;

 * sqlite:///publications.db
Done.

[('172-32-1176', 'Johnson', 'White', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Marjorie', 'Green', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Marjorie', 'Green', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Cheryl', 'Carson', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', 'Michael', "O'Leary", 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', 'Michael', "O'Leary", 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Dean', 'Straight', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Abraham', 'Bennet', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Ann', 'Dull', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Burt', 'Gringlesby', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Charlene', 'Locksley', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Charlene', 'Locksley', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Reginald', 'Blotchet-Halls', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Akiko', 'Yokomoto', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'Innes', 'del Castillo', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'Michel', 'DeFrance', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'Stearns', 'MacFeather', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'Stearns', 'MacFeather', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Livia', 'Karsen', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Sylvia', 'Panteley', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Sheryl', 'Hunter', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Anne', 'Ringer', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Anne', 'Ringer', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Albert', 'Ringer', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Albert', 'Ringer', 'Life Without Fear', 'New Moon Books')]

## CHALLENGE 2

In [4]:
%%sql
select titleauthor.au_id AUTHOR_ID, au_lname LAST_NAME,  au_fname FIRST_NAME, titles.title TITLE, publishers.pub_name PUBLISHER,
count(titleauthor.au_id) TITLE_COUNT
from authors join titleauthor on authors.au_id=titleauthor.au_id
join titles on titleauthor.title_id=titles.title_id
join publishers on publishers.pub_id=titles.pub_id
group by titleauthor.au_id
order by title_count desc

 * sqlite:///publications.db
Done.

[('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems', 2),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 2),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems', 2),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 2),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley', 2),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books', 2),
 ('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems', 1),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley', 1),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1)]

In [5]:
%%sql
SELECT titleauthor.au_id as author_id,
authors.au_fname as FIRST_NAME,
authors.au_lname as LAST_NAME,
titles.title as TITLE,
publishers.pub_name as PUBLISHER_NAME,
count(titleauthor.au_id) TITLE_COUNT
FROM  authors
join titleauthor 
on authors.au_id = titleauthor.au_id
join titles 
on titleauthor.title_id = titles.title_id
join publishers
on titles.pub_id = publishers.pub_id
group by titleauthor.au_id, publishers.pub_name;

 * sqlite:///publications.db
Done.

[('172-32-1176', 'Johnson', 'White', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books', 1),
 ('213-46-8915', 'Marjorie', 'Green', "The Busy Executive's Database Guide", 'Algodata Infosystems', 1),
 ('213-46-8915', 'Marjorie', 'Green', 'You Can Combat Computer Stress!', 'New Moon Books', 1),
 ('238-95-7766', 'Cheryl', 'Carson', 'But Is It User Friendly?', 'Algodata Infosystems', 1),
 ('267-41-2394', 'Michael', "O'Leary", 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 1),
 ('267-41-2394', 'Michael', "O'Leary", 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('274-80-9391', 'Dean', 'Straight', 'Straight Talk About Computers', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Abraham', 'Bennet', "The Busy Executive's Database Guide", 'Algodata Infosystems', 1),
 ('427-17-2319', 'Ann', 'Dull', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1),
 ('472-27-2349', 'Burt', 'Gringlesby', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('486-29-1786', 'Charlene', 'Locksley', 'Net Etiquette', 'Algodata Infosystems', 1),
 ('486-29-1786', 'Charlene', 'Locksley', 'Emotional Security: A New Algorithm', 'New Moon Books', 1),
 ('648-92-1872', 'Reginald', 'Blotchet-Halls', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Akiko', 'Yokomoto', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('712-45-1867', 'Innes', 'del Castillo', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley', 1),
 ('722-51-5454', 'Michel', 'DeFrance', 'The Gourmet Microwave', 'Binnet & Hardley', 1),
 ('724-80-9391', 'Stearns', 'MacFeather', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 1),
 ('724-80-9391', 'Stearns', 'MacFeather', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley', 1),
 ('756-30-7391', 'Livia', 'Karsen', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley', 1),
 ('807-91-6654', 'Sylvia', 'Panteley', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley', 1),
 ('846-92-7186', 'Sheryl', 'Hunter', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1),
 ('899-46-2035', 'Anne', 'Ringer', 'The Gourmet Microwave', 'Binnet & Hardley', 1),
 ('899-46-2035', 'Anne', 'Ringer', 'Is Anger the Enemy?', 'New Moon Books', 1),
 ('998-72-3567', 'Albert', 'Ringer', 'Is Anger the Enemy?', 'New Moon Books', 2)]

## Challenge 3

In [6]:
%%sql
select authors.au_id as author_id,
 authors.au_fname as name, 
 authors.au_lname as last_name , 
sum(titles.ytd_sales) as totalsales
from authors
left join titleauthor
on authors.au_id = titleauthor.au_id
left join titles
on titleauthor.title_id = titles.title_id
group by authors.au_id
order by totalsales desc
limit 3

 * sqlite:///publications.db
Done.

[('899-46-2035', 'Anne', 'Ringer', 24291),
 ('213-46-8915', 'Marjorie', 'Green', 22817),
 ('722-51-5454', 'Michel', 'DeFrance', 22246)]

## Challenge 4

In [7]:
%%sql
select authors.au_id as author_id,
 authors.au_fname as name, 
 authors.au_lname as last_name , 
 ifnull(sum(ytd_sales),0) as totalsales
from authors
left join titleauthor
on authors.au_id = titleauthor.au_id
left join titles
on titleauthor.title_id = titles.title_id
group by authors.au_id
order by totalsales desc

 * sqlite:///publications.db
Done.

[('899-46-2035', 'Anne', 'Ringer', 24291),
 ('213-46-8915', 'Marjorie', 'Green', 22817),
 ('722-51-5454', 'Michel', 'DeFrance', 22246),
 ('648-92-1872', 'Reginald', 'Blotchet-Halls', 15096),
 ('238-95-7766', 'Cheryl', 'Carson', 8780),
 ('267-41-2394', 'Michael', "O'Leary", 7971),
 ('724-80-9391', 'Stearns', 'MacFeather', 4251),
 ('274-80-9391', 'Dean', 'Straight', 4095),
 ('409-56-7008', 'Abraham', 'Bennet', 4095),
 ('427-17-2319', 'Ann', 'Dull', 4095),
 ('472-27-2349', 'Burt', 'Gringlesby', 4095),
 ('672-71-3249', 'Akiko', 'Yokomoto', 4095),
 ('846-92-7186', 'Sheryl', 'Hunter', 4095),
 ('172-32-1176', 'Johnson', 'White', 4072),
 ('486-29-1786', 'Charlene', 'Locksley', 3336),
 ('998-72-3567', 'Albert', 'Ringer', 2156),
 ('712-45-1867', 'Innes', 'del Castillo', 2032),
 ('756-30-7391', 'Livia', 'Karsen', 375),
 ('807-91-6654', 'Sylvia', 'Panteley', 375),
 ('341-22-1782', 'Meander', 'Smith', 0),
 ('527-72-3246', 'Morningstar', 'Greene', 0),
 ('724-08-9931', 'Dirk', 'Stringer', 0),
 ('893-72-1158', 'Heather', 'McBadden', 0)]

## Bonus challenge

In [8]:
%%sql
select authors.au_id as author_id,
 authors.au_fname as name, 
 authors.au_lname as last_name , 
sum(titles.advance) as advances,
CAST (titles.royalty  as REAL)/100 * sum(titles.ytd_sales) as royalties,
sum(titles.advance) + CAST (titles.royalty  as REAL)/100 * sum(titles.ytd_sales) as total_profit
from authors
left join titleauthor
on authors.au_id = titleauthor.au_id
left join titles
on titleauthor.title_id = titles.title_id
join sales
on titleauthor.title_id = sales.title_id
group by authors.au_id
order by total_profit  desc

 * sqlite:///publications.db
Done.

[('899-46-2035', 'Anne', 'Ringer', 39100, 12641.279999999999, 51741.28),
 ('722-51-5454', 'Michel', 'DeFrance', 30000, 10678.08, 40678.08),
 ('213-46-8915', 'Marjorie', 'Green', 20125, 2691.2000000000003, 22816.2),
 ('998-72-3567', 'Albert', 'Ringer', 15100, 994.92, 16094.92),
 ('267-41-2394', 'Michael', "O'Leary", 13000, 797.1, 13797.1),
 ('724-80-9391', 'Stearns', 'MacFeather', 12000, 425.1, 12425.1),
 ('409-56-7008', 'Abraham', 'Bennet', 10000, 819.0, 10819.0),
 ('427-17-2319', 'Ann', 'Dull', 8000, 409.5, 8409.5),
 ('472-27-2349', 'Burt', 'Gringlesby', 8000, 409.5, 8409.5),
 ('672-71-3249', 'Akiko', 'Yokomoto', 8000, 409.5, 8409.5),
 ('846-92-7186', 'Sheryl', 'Hunter', 8000, 409.5, 8409.5),
 ('238-95-7766', 'Cheryl', 'Carson', 7000, 1404.8, 8404.8),
 ('756-30-7391', 'Livia', 'Karsen', 7000, 37.5, 7037.5),
 ('807-91-6654', 'Sylvia', 'Panteley', 7000, 37.5, 7037.5),
 ('648-92-1872', 'Reginald', 'Blotchet-Halls', 4000, 2113.44, 6113.4400000000005),
 ('274-80-9391', 'Dean', 'Straight', 5000, 409.5, 5409.5),
 ('486-29-1786', 'Charlene', 'Locksley', 4000, 333.6, 4333.6),
 ('172-32-1176', 'Johnson', 'White', 2000, 407.20000000000005, 2407.2),
 ('712-45-1867', 'Innes', 'del Castillo', 0, 243.84, 243.84)]