# Challenge 1

In [1]:
%load_ext sql

In [15]:
%sql sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db

### Checking tables names

In [16]:
%%sql
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db
   sqlite:///publications.db
Done.

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('titleauthor',),
 ('titles',)]

### Listing "authors" table

In [17]:
%%sql
select au_id, au_lname, au_fname
from authors

 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db
   sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson'),
 ('213-46-8915', 'Green', 'Marjorie'),
 ('238-95-7766', 'Carson', 'Cheryl'),
 ('267-41-2394', "O'Leary", 'Michael'),
 ('274-80-9391', 'Straight', 'Dean'),
 ('341-22-1782', 'Smith', 'Meander'),
 ('409-56-7008', 'Bennet', 'Abraham'),
 ('427-17-2319', 'Dull', 'Ann'),
 ('472-27-2349', 'Gringlesby', 'Burt'),
 ('486-29-1786', 'Locksley', 'Charlene'),
 ('527-72-3246', 'Greene', 'Morningstar'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald'),
 ('672-71-3249', 'Yokomoto', 'Akiko'),
 ('712-45-1867', 'del Castillo', 'Innes'),
 ('722-51-5454', 'DeFrance', 'Michel'),
 ('724-08-9931', 'Stringer', 'Dirk'),
 ('724-80-9391', 'MacFeather', 'Stearns'),
 ('756-30-7391', 'Karsen', 'Livia'),
 ('807-91-6654', 'Panteley', 'Sylvia'),
 ('846-92-7186', 'Hunter', 'Sheryl'),
 ('893-72-1158', 'McBadden', 'Heather'),
 ('899-46-2035', 'Ringer', 'Anne'),
 ('998-72-3567', 'Ringer', 'Albert')]

### Joining "authors" & "titleauthor"

In [24]:
%%sql
select authors.au_id, authors.au_lname, authors.au_fname
from authors join titleauthor on authors.au_id = titleauthor.au_id

 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db
   sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson'),
 ('213-46-8915', 'Green', 'Marjorie'),
 ('213-46-8915', 'Green', 'Marjorie'),
 ('238-95-7766', 'Carson', 'Cheryl'),
 ('267-41-2394', "O'Leary", 'Michael'),
 ('267-41-2394', "O'Leary", 'Michael'),
 ('274-80-9391', 'Straight', 'Dean'),
 ('409-56-7008', 'Bennet', 'Abraham'),
 ('427-17-2319', 'Dull', 'Ann'),
 ('472-27-2349', 'Gringlesby', 'Burt'),
 ('486-29-1786', 'Locksley', 'Charlene'),
 ('486-29-1786', 'Locksley', 'Charlene'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald'),
 ('672-71-3249', 'Yokomoto', 'Akiko'),
 ('712-45-1867', 'del Castillo', 'Innes'),
 ('722-51-5454', 'DeFrance', 'Michel'),
 ('724-80-9391', 'MacFeather', 'Stearns'),
 ('724-80-9391', 'MacFeather', 'Stearns'),
 ('756-30-7391', 'Karsen', 'Livia'),
 ('807-91-6654', 'Panteley', 'Sylvia'),
 ('846-92-7186', 'Hunter', 'Sheryl'),
 ('899-46-2035', 'Ringer', 'Anne'),
 ('899-46-2035', 'Ringer', 'Anne'),
 ('998-72-3567', 'Ringer', 'Albert'),
 ('998-72-3567', 'Ringer', 'Albert')]

### Joining "titles" & "titleauthor"

In [35]:
%%sql
select titles.pub_id, titles.title
from titleauthor join titles on titleauthor.title_id=titles.title_id

 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db
   sqlite:///publications.db
Done.

[('1389', "The Busy Executive's Database Guide"),
 ('1389', "The Busy Executive's Database Guide"),
 ('1389', 'Cooking with Computers: Surreptitious Balance Sheets'),
 ('1389', 'Cooking with Computers: Surreptitious Balance Sheets'),
 ('0736', 'You Can Combat Computer Stress!'),
 ('1389', 'Straight Talk About Computers'),
 ('0877', 'Silicon Valley Gastronomic Treats'),
 ('0877', 'The Gourmet Microwave'),
 ('0877', 'The Gourmet Microwave'),
 ('1389', 'But Is It User Friendly?'),
 ('1389', 'Secrets of Silicon Valley'),
 ('1389', 'Secrets of Silicon Valley'),
 ('1389', 'Net Etiquette'),
 ('0877', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations'),
 ('0877', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations'),
 ('0736', 'Is Anger the Enemy?'),
 ('0736', 'Is Anger the Enemy?'),
 ('0736', 'Life Without Fear'),
 ('0736', 'Prolonged Data Deprivation: Four Case Studies'),
 ('0736', 'Emotional Security: A New Algorithm'),
 ('0877', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean'),
 ('0877', 'Fifty Years in Buckingham Palace Kitchens'),
 ('0877', 'Sushi, Anyone?'),
 ('0877', 'Sushi, Anyone?'),
 ('0877', 'Sushi, Anyone?')]

### Joining previous tables together

In [39]:
%%sql
select authors.au_id, authors.au_lname, authors.au_fname, titles.title 
from authors join titleauthor on authors.au_id = titleauthor.au_id
             join titles on titleauthor.title_id = titles.title_id

 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db
   sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide"),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide"),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear')]

### Joining the "publishers" one to get the challenge table

In [40]:
%%sql
select authors.au_id, authors.au_lname, authors.au_fname, titles.title, publishers.pub_name
from authors join titleauthor on authors.au_id = titleauthor.au_id
             join titles on titleauthor.title_id = titles.title_id
             join publishers on titles.pub_id = publishers.pub_id

 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db
   sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear', 'New Moon Books')]

In [43]:
%%sql
select count(*)
from titleauthor

 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select/publications.db
   sqlite:///publications.db
Done.

[(25,)]

>The total number of 25 titles is correct