# Challenge

In [2]:
%load_ext sql

In [5]:
%sql sqlite:///publications.db

In [56]:
%%sql
select a.au_id AUTHOR_ID , a.au_lname LAST_NAME, a.au_fname FIRST_NAME , t.title TITLE, p.pub_name PUBLISHER
from authors a
inner join titleauthor ta
    on a.au_id = ta.au_id
inner join titles t
    on t.title_id = ta.title_id
inner join publishers p
    on t.pub_id = p.pub_id

 * sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear', 'New Moon Books')]

# Challenge 2

In [67]:
%%sql
select a.au_id AUTHOR_ID , a.au_lname LAST_NAME, a.au_fname FIRST_NAME , t.title TITLE, p.pub_name PUBLISHER, count(*) TITLE_COUNT
from authors a
inner join titleauthor ta
    on a.au_id = ta.au_id
inner join titles t
    on t.title_id = ta.title_id
inner join publishers p
    on t.pub_id = p.pub_id
GROUP BY ta.au_id
order by count(*) desc

 * sqlite:///publications.db
Done.

[('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems', 2),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 2),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems', 2),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 2),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley', 2),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books', 2),
 ('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems', 1),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley', 1),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1)]

# Challenge 3

In [79]:
%%sql
select a.au_id AUTHOR_ID , a.au_lname LAST_NAME, a.au_fname FIRST_NAME, SUM(t.ytd_sales) TOTAL
from authors a
inner join titleauthor ta
    on a.au_id = ta.au_id
inner join titles t
    on t.title_id = ta.title_id
GROUP BY t.ytd_sales
order by t.ytd_sales desc
limit 3

 * sqlite:///publications.db
Done.

[('722-51-5454', 'DeFrance', 'Michel', 44492),
 ('213-46-8915', 'Green', 'Marjorie', 18722),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 15096)]

# Challenge 4

In [111]:
%%sql
select a.au_id AUTHOR_ID , a.au_lname LAST_NAME, a.au_fname FIRST_NAME, SUM(t.ytd_sales) TOTAL 
--Case when t.ytd_sales is None then 0 --> no se como imponer esta condicion
from authors a
inner join titleauthor ta
    on a.au_id = ta.au_id
inner join titles t
    on t.title_id = ta.title_id
GROUP BY t.ytd_sales
order by t.ytd_sales desc

 * sqlite:///publications.db
Done.

[('722-51-5454', 'DeFrance', 'Michel', 44492),
 ('213-46-8915', 'Green', 'Marjorie', 18722),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 15096),
 ('238-95-7766', 'Carson', 'Cheryl', 8780),
 ('213-46-8915', 'Green', 'Marjorie', 32760),
 ('172-32-1176', 'White', 'Johnson', 4072),
 ('267-41-2394', "O'Leary", 'Michael', 7752),
 ('486-29-1786', 'Locksley', 'Charlene', 3336),
 ('899-46-2035', 'Ringer', 'Anne', 4090),
 ('712-45-1867', 'del Castillo', 'Innes', 2032),
 ('724-80-9391', 'MacFeather', 'Stearns', 1125),
 ('998-72-3567', 'Ringer', 'Albert', 111),
 ('486-29-1786', 'Locksley', 'Charlene', None)]